In [1]:
import pandas as pd

In [3]:
# Creating Series

li = [1,2,3,4,5,6,7,9]
s1 = pd.Series(li)
print("Create Series")
print(s1)
print(type(s1))

Create Series
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    9
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
# Changing index

s1 = pd.Series(li, index=['a','b','c','d','e','f','g','h'])
print("Create Series")
print(s1)
print(type(s1))

Create Series
a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    9
dtype: int64
<class 'pandas.core.series.Series'>

In [7]:
# I Will try using index that use an len of the data, then use chr to the index

s1 = pd.Series(li, index=[chr(x) for x in range(97,97+len(s1))])
print("Create Series")
print(s1)
print(type(s1))
print("get same result")

Create Series
a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    9
dtype: int64
<class 'pandas.core.series.Series'>
get same result

In [9]:
# create with using dict

s1 = pd.Series({"a" : 400, "b": 9009, "c": 180})
print("Create Series")
print(s1)
print(type(s1))

Create Series
a     400
b    9009
c     180
dtype: int64
<class 'pandas.core.series.Series'>

In [20]:
#Extracting

# single element
s1 = pd.Series([1,2,3,4,5,6,7,9])
print("single element")
print(s1[3])
# element from back
print("element from back")
print(s1[-3:])      # three element from back
# sequence pf elements
print("sequence of elements")
print(s1[:4])       # four element from front
# sequence pf elements
print("range of elements")
print(s1[1:4])       # from indx 1 to 4

single element
4
element from back
5    6
6    7
7    9
dtype: int64
sequence of elements
0    1
1    2
2    3
3    4
dtype: int64
range of elements
1    2
2    3
3    4
dtype: int64

In [21]:
# Basic Math Operaiton on Series

s1 = pd.Series([1,2,3,4,5,6,7,9])
s1+5

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7    14
dtype: int64

In [25]:
import numpy as np
s2 = pd.Series(np.random.randint(0,20,len(s1)))
print("s2 series")
print(s2)
print()
print("s1 + s2")
s2+s1

s2 series
0     3
1     0
2    10
3     5
4     5
5     2
6    18
7    14
dtype: int32

s1 + s2

0     4
1     2
2    13
3     9
4    10
5     8
6    25
7    23
dtype: int64

In [26]:
# DataFrame

df = pd.DataFrame({"Name" : ['ed','yu','me'], "Age": [20,40,10]})
print(df)
print(type(df))

  Name  Age
0   ed   20
1   yu   40
2   me   10
<class 'pandas.core.frame.DataFrame'>

In [31]:
# import csv

df = pd.read_csv('iris.csv')
print(type(df))
df.head()  # head() for call 5 row from top

<class 'pandas.core.frame.DataFrame'>

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [30]:
df.tail()   # tail for call 5 row form last

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [35]:
print(df.shape) # check the shape of dataframe
print("{} : is to total row\n{} : is to total column".format(df.shape[0],df.shape[1]))

(150, 5)
150 : is to total row
5 : is to total column

In [37]:
df.describe() # describe is to get the some math like mean, count, std, min

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [38]:
# get data with index
# use .iloc()
df.iloc[0:3,0:2]    # [(row),(column )]

   Sepal.Length  Sepal.Width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2

In [40]:
# get data with column name
# use .loc()
df.loc[0:3,("Sepal.Length","Sepal.Width")]

   Sepal.Length  Sepal.Width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1

In [48]:
# droping columns
# use .drop()
df.drop('Sepal.Length',axis=1) # axis 1 is to the column

     Sepal.Width  Petal.Length  Petal.Width    Species
0            3.5           1.4          0.2     setosa
1            3.0           1.4          0.2     setosa
2            3.2           1.3          0.2     setosa
3            3.1           1.5          0.2     setosa
4            3.6           1.4          0.2     setosa
..           ...           ...          ...        ...
145          3.0           5.2          2.3  virginica
146          2.5           5.0          1.9  virginica
147          3.0           5.2          2.0  virginica
148          3.4           5.4          2.3  virginica
149          3.0           5.1          1.8  virginica

[150 rows x 4 columns]

In [49]:
df.drop([1,2,3],axis=0) # axis 0 is to the row

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[147 rows x 5 columns]

In [52]:
# Pandas Function

df.mean()

Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64

In [53]:
# get some warning couse the columns Species is string
# so to avoid that use parameter numeric_only=True
df.mean(numeric_only=True)

Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64

In [54]:
df.median(numeric_only=True)

Sepal.Length    5.80
Sepal.Width     3.00
Petal.Length    4.35
Petal.Width     1.30
dtype: float64

In [55]:
df.min(numeric_only=True)

Sepal.Length    4.3
Sepal.Width     2.0
Petal.Length    1.0
Petal.Width     0.1
dtype: float64

In [57]:
df.max(numeric_only=True)

Sepal.Length    7.9
Sepal.Width     4.4
Petal.Length    6.9
Petal.Width     2.5
dtype: float64

In [58]:
# to use func to modify the data
# apply()

# create func
def half(x):
    return x*0.5

df[['Sepal.Length','Sepal.Width']].apply(half)

     Sepal.Length  Sepal.Width
0            2.55         1.75
1            2.45         1.50
2            2.35         1.60
3            2.30         1.55
4            2.50         1.80
..            ...          ...
145          3.35         1.50
146          3.15         1.25
147          3.25         1.50
148          3.10         1.70
149          2.95         1.50

[150 rows x 2 columns]

In [60]:
# counts the value by some category
# value-counts

df['Species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

In [62]:
# sorting the data
# value_sort()

df.sort_values('Sepal.Length')

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
13            4.3          3.0           1.1          0.1     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

[150 rows x 5 columns]